html, body, #app{
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    user-select: none;
}

:root{
    --navbar-height: 6rem;
    --footer-height: 4rem;
}
:root {
    --main-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-bg: #fafafa;
        --bg: #eaeaea;
        --bg-border: #ddd;
        --text: #111;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #0a0a0a;
        --bg: #111;
        --bg-border: #222;
        --text: #f2f2f2;
    }
}

/* Colores y estilos por defecto */

header, footer {
    background-color: var(--primary-bg);
    color: var(--text);
}
header {
    height: var(--navbar-height);
    min-height: var(--navbar-height);
}
footer {
    height: var(--footer-height);
    min-height: var(--footer-height);
}
main {
    overflow-y: auto;
    overflow-x:clip;
}
main.normal{
    height: var(--main-height);
}
main.full{
    height: 100vh;
}


/* Sizes */
.max-width{ width: 100% }
.max-width-extended{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
.half-width{ width: 50% }
.third-width{ width: 33.33% }

.full-height{height: var(--main-height)}
.screen-height{height: 100vh}
.max-height{height: 100%}

.text-button{
    border: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: scale 0.3s;
}
.text-button:hover{ scale: 105% }

.object-cover { object-fit: cover; }

.transparent{
    background-color: transparent;
    color: transparent;
}